body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    background-color: #f4f4f4;
}

header, footer {
    text-align: center;
    background-color: #333;
    color: white;
    padding: 10px 0;
}

main {
    max-width: 800px;
    margin: 20px auto;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
}

th, td {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: center;
}

th {
    background-color: #333;
    color: white;
}
h1 {
    color: #f0f0f0;
    font-family: Handjet, monospace, sans-serif;
    letter-spacing: 10px;
}

h2 {
    color: #333;
}

.box-model {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
} 
.box-image {
    height: 100%;
    width: 100%;
}


.description {
    text-align: center;
}

code {
    background-color: #f0f0f0;
    padding: 2px 4px;
    border-radius: 4px;
}